.item {
  display: flex;
  align-items: center;
  justify-content: space-around;

  border: 1px solid gainsboro;
  width: 250px;
  padding: 10px;
  box-shadow: 3px 10px 36px -13px rgba(0, 0, 0, 0.75);
}

.item:not(:last-child) {
  margin-bottom: 20px;
}
