.transactionHistory {
  width: 100%;
  border: none;
  margin-bottom: 20px;
  border-collapse: separate;
  border: 1px solid #ddd;
}

.th {
  font-weight: bold;
  text-align: left;
  border: none;
  padding: 10px 15px;
  background: #3086cd;
  font-size: 14px;
  color: white;

  text-align: center;
}

.tr {
  text-align: center;
}

.td {
  padding: 10px;
}

.tr:nth-child(even) {
  background: #f8f8f8;
}
